<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to GenBio Database</h1>
  <!-- <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

<p><a href="login">Go to the Login page</a></p>
  <p><a href="registration">Registration page</a></p>

<form method="POST" action="/add">
<p>Search for organism sequence and occurrence: <input type="text" name="name"> <input type="submit" value="Submit"></p>
</form>

</body>


</html>
