<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<html>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GenBio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a href="#">Home</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Welcome to GenBio Database</h1>
  <p>A Centralized Database for Animal Genomics and Biodiversity Information</p>
</div>

<form method="POST" action="/add">
<p>Search for organisms sequence and occurrence: <input type="text" name="name"> <input type="submit" value="Submit"></p>
</form>

</body>

</html>