{% extends "bootstrap/base.html" %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GenBio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Welcome to GenBio Database</h1>
  <p>A Centralized Database for Animal Genomics and Biodiversity Information</p>
</div>

<form method="POST" action="/add">
<p>Search for organisms sequence and occurrence: <input type="text" name="name"> <input type="submit" value="Submit"></p>
</form>

{% endblock %}