{% extends "bootstrap/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GenBio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          <form method="POST" action="{{ url_for('loginsearch',uname=uname) }}"  class="navbar-form navbar-right">
            <input  type="text" name="genusspecies" class="form-control" placeholder="Genus species">
            <input type="hidden" id="occh" name="occurrence" value="0"/>
            <input type="hidden" id="seqh" name="sequence" value="0"/>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="dashboard">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="loginadvsearch">Advance Search</a></li>
              <li><a href="submit">Submit</a></li>
              <li><a href="history">History</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if uname %}
            <h1 class="page-header">User Profile for {{uname}}</h1>
            {% endif %}

            <form method="POST" action="/{{uname}}/profile" class="form">
                {% for item in user_data %}
                <div class="form-group row">
                  <label for="username" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[0]}}" id="uname" name="uname" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[1]}}" id="email" name="email" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter new password" id="password" name="password">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="institution" class="col-sm-2 col-form-label">Institution</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[5]}}" id="institution" name="institution" readonly>
                  </div>
                </div>

                {% if uni_data %}
                {% for item in uni_data %}
                <div class="form-group row">
                  <label for="department" class="col-sm-2 col-form-label">Department</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[0]}}" id="department" name="department">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lab" class="col-sm-2 col-form-label">Lab</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[1]}}" id="lab" name="lab">
                  </div>
                </div>
                {% endfor %}
                {% endif %}

                {% if org_data %}
                <div class="form-group row">
                  <label for="division" class="col-sm-2 col-form-label">Division</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{org_data[0][0]}}" id="division" name="division">
                  </div>
                </div>
                {% endif %}

                <div class="form-group row">
                  <label for="position" class="col-sm-2 col-form-label">Position</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[4]}}" id="position" name="position">
                  </div>
                </div>

                {% for item in inst_data %}
                <div class="form-group row">
                  <label for="state" class="col-sm-2 col-form-label">State</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[0]}}" id="state" name="state">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="zipcode" class="col-sm-2 col-form-label">Zipcode</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[1]}}" id="zipcode" name="zipcode">
                  </div>
                </div>
                {% endfor %}

                <div class="form-group row">
                  <label for="country" class="col-sm-2 col-form-label">Country</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{item[6]}}" id="country" name="country" readonly>
                  </div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit">
              </form>

            <!-- <input class="form-control" type="text" placeholder="Readonly input here…" readonly> -->

          </div>
        </div>
    </div>
{% endblock %} 
