{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<head>
    <style> table, tr, td, th { border: 1px solid black;
    padding : 8px;}
    </style>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GenBio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h2>Search Results</h2>
    {% if otbl %}
    <table style="width:50%"><caption>Occurrence Data</caption>
        <thead>
            <tr><th>Time</th>
                <th>Type</th>
                <th>Location</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Genus</th>
                <th>Species</th>
            </tr>
        </thead>
        <tbody>

            {% for item in otbl %}
            <tr>{% for elem in item %}
                <td>{{elem}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if stbl %}
    <table><caption>Sequence Data</caption>
        <thead>
            <tr><th>Type</th>
                <th>BP</th>
                <th>Sequence</th>
                <th>Accession_No</th>
                <th>Date</th>
                <th>DOI</th>
            </tr>
        </thead>
        <tbody>

            {% for item in stbl%}
            <tr>{% for elem in item%}
                {% if loop.last%}
                <td><a href="/onereference">{{elem}}</a></td>
                {% else %}
                <td>{{elem}}</td>
                {%endif%}
                {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}