<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

{% extends "bootstrap/base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GenBio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          <form method="POST" action="/homesearch"  class="navbar-form navbar-right">
            <input  type="text" name="genusspecies" class="form-control" placeholder="Genus species">
            <input type="hidden" id="occh" name="occurrence" value="0"/>
            <input type="hidden" id="seqh" name="sequence" value="0"/>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><a href="dashboard">Overview</a></li>
              <li><a href="loginadvsearch">Advance Search</a></li>
              <li class="active"><a href="submit">Submit<span class="sr-only">(current)</span></a></li>
              <li><a href="history">History</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="container-fluid">
                  <h3>Submit sequence or occurrence</h3>
                  <p>Please fill in the form to submit an organism's sequence and/or occurrence.</p>
                  <form action="submit" class="form" method="POST">
                      
                      <div class="form-group">
                        <label for="kingdom">Kingdom</label>
                        <input type="text" name="kingdom" class="form-control" id="kingdom">
                      </div>
                      <div class="form-group">
                        <label for="phylum">Phylum</label>
                        <input type="text" name="phylum" class="form-control" id="phylum">
                      </div>
                      <div class="form-group">
                        <label for="org_class">Class</label>
                        <input type="text" name="org_class" class="form-control" id="org_class">
                      </div>
                      <div class="form-group">
                        <label for="order">Order</label>
                        <input type="text" name="order" class="form-control" id="order">
                      </div>
                      <div class="form-group">
                        <label for="family">Family</label>
                        <input type="text" name="family" class="form-control" id="family">
                      </div>
                      <div class="form-group">
                        <label for="genus">Genus</label>
                        <input type="text" name="genus" class="form-control" id="genus">
                      </div>
                      <div class="form-group">
                        <label for="species">Species</label>
                        <input type="text" name="species" class="form-control" id="species">
                      </div>

                      <div class="checkbox-group required">
                      <label for="seeSubmission">Submission Type</label>
                      <!-- document.getElementById("myCheck").required = true; -->
                      <label class="checkbox-inline"><input type="checkbox" id="sequence" name="sequence" value="1" onclick="seqFunction()">Sequence</label>                     
                      <label class="checkbox-inline"><input type="checkbox" id="occurrence" name="occurrence" value="1" onclick="occFunction()">Occurrence</label>
                      </div>

                      <h3 id="text" style="display:none">For Sequence</h3>

                      <div class="form-group" id="seq_typeDiv">
                        <label for="seq_type">Type</label>
                        <input type="text" name="seq_type" class="form-control" id="seq_type">
                      </div>

                      <div class="form-group" id="bpDiv">
                        <label for="bp">Number of Base Pairs</label>
                        <input type="text" name="bp" class="form-control" id="bp">
                      </div>

                      <div class="form-group" id="seqDiv">
                        <label for="seq">Sequence</label>
                        <input type="text" name="seq" class="form-control" id="seq">
                      </div>

                      <div class="form-group" id="acc_noDiv">
                        <label for="acc_no">Accession Number</label>
                        <input type="text" name="acc_no" class="form-control" id="acc_no">
                      </div>

                      <div class="form-group" id="titleDiv">
                        <label for="title">Article Title</label>
                        <input type="text" name="title" class="form-control" id="title">
                      </div>
                      
                      <div class="form-group" id="doiDiv">
                        <label for="doi">DOI</label>
                        <input type="text" name="doi" class="form-control" id="doi">
                      </div>
                      
                      <div class="form-group" id="authorDiv">
                        <label for="author">Author(s)</label>
                        <input type="text" name="author" class="form-control" id="author">
                      </div>
                     
                      <div class="form-group" id="journalDiv">
                        <label for="journal">Journal</label>
                        <input type="text" name="journal" class="form-control" id="journal">
                      </div>

                      <div class="form-group" id="volumeDiv">
                        <label for="volume">Volume</label>
                        <input type="text" name="volume" class="form-control" id="volume">
                      </div>

                      <div class="form-group" id="issueDiv">
                        <label for="issue">Issue</label>
                        <input type="text" name="issue" class="form-control" id="issue">
                      </div>

                      <div class="form-group" id="journal_dateDiv">
                        <label for="journal_date">Journal Date</label>
                        <input type="text" name="journal_date" class="form-control" id="journal_date">
                      </div>

                      <div class="form-group" id="page_fromDiv">
                        <label for="page_from">Page From</label>
                        <input type="text" name="page_from" class="form-control" id="page_from">
                      </div>

                      <div class="form-group" id="page_toDiv">
                        <label for="page_to">Page To</label>
                        <input type="text" name="page_to" class="form-control" id="page_to">
                      </div>

                      <h3 id="text2" style="display:none">For Occurrence</h3>

                      <div class="form-group" id="timeDiv">
                        <label for="time">Time</label>
                        <input type="text" name="time" class="form-control" id="time">
                      </div>

                      <div class="form-group" id="occ_typeDiv">
                        <label for="occ_type">Type</label>
                        <select name="occ_type" class="form-control" id="occ_type">
                        {% for item in otype%}
                          <option>{{item}}</option>
                        {% endfor %}
                        </select>
                      </div>

                      <div class="form-group" id="locationDiv">
                        <label for="location">Location</label>
                        <select name="location" class="form-control" id="location">
                        {% for item in location%}
                          <option>{{item}}</option>
                        {% endfor %}
                        </select>
                      </div>

                      <div class="form-group" id="latitudeDiv">
                        <label for="latitude">Latitude</label>
                        <input type="text" name="latitude" class="form-control" id="latitude">
                      </div>

                      <div class="form-group" id="longitudeDiv">
                        <label for="longitude">Longitude</label>
                        <input type="text" name="longitude" class="form-control" id="longitude">
                      </div>

                      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                  </form>
              </div>
          </div>
        </div>
    </div>

  <script>
  // $("#seeSubmission").change(function() {
  //   $("#seqtypeDiv").toggle();
  //   $("#bpDiv").toggle();
  //   $("#seqDiv").toggle();
  //   $("#accnoDiv").toggle();
  //   $("#titleDiv").toggle();
  //   $("#doiDiv").toggle();
  //   $("#authorDiv").toggle();
  //   $("#journalDiv").toggle();
  //   $("#volumeDiv").toggle();
  //   $("#issueDiv").toggle();
  //   $("#journal_dateDiv").toggle();
  //   $("#page_fromDiv").toggle();
  //   $("#page_toDiv").toggle();
  // })

  $("#seq_typeDiv").hide();
  $("#bpDiv").hide();
  $("#seqDiv").hide();
  $("#acc_noDiv").hide();
  $("#titleDiv").hide();
  $("#doiDiv").hide();
  $("#authorDiv").hide();
  $("#journalDiv").hide();
  $("#volumeDiv").hide();
  $("#issueDiv").hide();
  $("#journal_dateDiv").hide();
  $("#page_fromDiv").hide();
  $("#page_toDiv").hide();
  $("#timeDiv").hide();
  $("#occ_typeDiv").hide();
  $("#locationDiv").hide();
  $("#latitudeDiv").hide();
  $("#longitudeDiv").hide();

  function seqFunction() {
    var checkBox = document.getElementById("sequence");
    var text = document.getElementById("text");
    if (checkBox.checked == true){
      text.style.display = "block";
      $("#seq_typeDiv").show();
      $("#bpDiv").show();
      $("#seqDiv").show();
      $("#acc_noDiv").show();
      $("#titleDiv").show();
      $("#doiDiv").show();
      $("#authorDiv").show();
      $("#journalDiv").show();
      $("#volumeDiv").show();
      $("#issueDiv").show();
      $("#journal_dateDiv").show();
      $("#page_fromDiv").show();
      $("#page_toDiv").show();
    } else {
      text.style.display = "none";
      $("#seq_typeDiv").hide();
      $("#bpDiv").hide();
      $("#seqDiv").hide();
      $("#acc_noDiv").hide();
      $("#titleDiv").hide();
      $("#doiDiv").hide();
      $("#authorDiv").hide();
      $("#journalDiv").hide();
      $("#volumeDiv").hide();
      $("#issueDiv").hide();
      $("#journal_dateDiv").hide();
      $("#page_fromDiv").hide();
      $("#page_toDiv").hide();
    }
  }

  function occFunction() {
    var checkBox = document.getElementById("occurrence");
    var text = document.getElementById("text2");
    if (checkBox.checked == true){
      text.style.display = "block";
      $("#timeDiv").show();
      $("#occ_typeDiv").show();
      $("#locationDiv").show();
      $("#latitudeDiv").show();
      $("#longitudeDiv").show();
    } else {
      text.style.display = "none";
      $("#timeDiv").hide();
      $("#occ_typeDiv").hide();
      $("#locationDiv").hide();
      $("#latitudeDiv").hide();
      $("#longitudeDiv").hide();
    }
  }

  // $('div.checkbox-group.required :checkbox:checked').length > 0
  
  </script>

{% endblock %} 