{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GenBio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          <form method="POST" action="/homesearch"  class="navbar-form navbar-right">
            <input  type="text" name="genusspecies" class="form-control" placeholder="Genus species">
            <input type="hidden" id="occh" name="occurrence" value="0"/>
            <input type="hidden" id="seqh" name="sequence" value="0"/>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><a href="dashboard">Overview</a></li>
              <li><a href="loginadvsearch">Advance Search</a></li>
              <li class="active"><a href="submit">Submit<span class="sr-only">(current)</span></a></li>
              <li><a href="history">History</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="container">
                  <h3>Submit sequence or occurrence</h3>
                  <p>Please fill in the form to submit an organism's sequence or occurrence.</p>
                  <form action="submit" class="form" method="POST">
                      {{ form.hidden_tag() }}

                      <h3>Organism</h3>
                      {{ wtf.form_field(form.kingdom) }}
                      {{ wtf.form_field(form.phylum) }}
                      {{ wtf.form_field(form.org_class)}}
                      {{ wtf.form_field(form.order) }}
                      {{ wtf.form_field(form.family) }}
                      {{ wtf.form_field(form.genus) }}
                      {{ wtf.form_field(form.species)}}
                      {{ wtf.form_field(form.submission_type)}}
                      
                      <h3>For Sequence</h3>
                      {{ wtf.form_field(form.sequence_type) }}
                      {{ wtf.form_field(form.bp) }}
                      {{ wtf.form_field(form.sequence)}}
                      {{ wtf.form_field(form.accession_no)}}
              
                      {{ wtf.form_field(form.title) }}
                      {{ wtf.form_field(form.doi) }}
                      {{ wtf.form_field(form.author) }}
                      {{ wtf.form_field(form.journal) }}
                      {{ wtf.form_field(form.volume) }}
                      {{ wtf.form_field(form.issue) }}
                      {{ wtf.form_field(form.journal_date) }}
                      {{ wtf.form_field(form.page_from) }}
                      {{ wtf.form_field(form.page_to) }}

                      <h3>For Occurrence</h3>
                      {{ wtf.form_field(form.time) }}
                      {{ wtf.form_field(form.occ_type) }}
                      {{ wtf.form_field(form.location) }}
                      {{ wtf.form_field(form.latitude)}}
                      {{ wtf.form_field(form.longitude) }}
                      
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                  </form>
              </div>
          </div>
        </div>
    </div>
{% endblock %} 